
.contact-container{
    max-width: 800px;
    height: 600px;
    background: #fff;
    margin: 50px auto;
    box-shadow: 0 0 20px rgba(72,98,85, 0.6);
    box-sizing: border-box;
    padding: 40px;
  }

p{
    text-align: center;
    letter-spacing: 1px;  
    font-size: 45px;
    font-family: 'Lato';
    margin-bottom: 20px;
    color: #486255;
}

.information input{
    width: 46%;
    height: 50px;
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
}

.subject input{
    width: 95.2%;
    height: 50px;
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
}

.message textarea{
    font-family: 'Lato';
    width: 95.2%;
    height: 100px;
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
}